
.flyerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 70vh;
}

.flyerTextContainer{
    z-index: 78348;
    color: white;
    text-align: center;
}

.flyerTextContainer h1{
    font-size: 60px;
    color: goldenrod;
    font-family: Seaweed Script;
}


.fCatContainer h1{
    text-align: center;
    color: white;
    font-family: Seaweed Script;
    font-size: 40px;
}

.catCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.catCard{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background: rgba(61, 60, 60, 0.418);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.catImg{
    width: 100px; 
    object-fit: contain;
}

.popularContainer h1{
    text-align: center;
    color: white;
    margin: 20px 0px;
    font-family: Seaweed Script;
    font-size: 40px;
    color: gold;
}

.popularCardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.popCardImgContainer{
    width: 100%;
    height: 130px;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


.otherFoodContainer{
    min-height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherFoodContainer h1{
    margin: 50px 0px;
    font-family: Seaweed Script;
    font-weight: bold;
    font-size: 40px;
    color: gold;
}

.otherCardFoodContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.aboutUsContainer{
    background: rgba(61, 60, 60, 0.418);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
}

.aboutTxtContainer{
    text-align: justify;
    color: white;
    width: 700px;
}

.chefImg{
    width: 300px;
}

.aboutTxtContainer h1{
    font-family: Seaweed Script;
    font-weight: bold;
    font-size: 30px;
    color: gold;
}


.reserve_orderContainer{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background: var(--darkBg); */
    /* backdrop-filter: blur(20px); */
    padding: 20px;
    gap: 10px;
}
.reserveContainer{
    background: var(--darkBg);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
}

.reserveInput{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    color: gold;
    border: .5px solid white;
    margin: 10px 0px;
    padding: 0px 10px;
}

.reserveForm select{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    color: gold;
    border: .5px solid white;
    margin: 10px 0px;
    padding: 0px 10px;
}

.reserveContainer h1{
    margin: 20px 0px;
    color: white;
}

.reserveContainer p{
    color: white;
}

.reserveInputDesc{
    width: 350px;
    height: 100px;
    border-radius: 5px;
    background: transparent;
    border: .5px solid white;
    margin: 10px 0px;
    padding:  10px;
    resize: none;
    color: white;
}

.reserveBtn{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background: rgb(2, 151, 39);
    color:gold;
    font-weight: bold;
    cursor: pointer;
}

.orderContainer{
    background: var(--darkBg);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
}

.orderContainer p{
    color: white;
}

.orderInput{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: .5px solid white;
    margin: 10px 0px;
    color:gold;
}

.orderContainer h1{
    color: gold;
    margin: 10px 0px;
}

.orderBtn{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background: gold;
    color:rgb(1, 88, 55);
    font-weight: bold;
    cursor: pointer;
}